@model HomeViewModel


<partial name="_Carousel" />

<h2>Sneakers of the week</h2>
<h4>Our weekly selection - just for you!</h4>

<div class="row">

    @foreach (var sneaker in Model.SneakerOfTheWeek)
    {
        <partial name="_SneakerCard" model="sneaker" />
    }


</div>